# --- ข้อมูลความลับ (สำคัญที่สุด!) ---
.env
!.env.example
# --- ไฟล์ขยะจากการ Build .NET ---
[Bb]in/
[Tj]mp/
[Oo]bj/
publish/

# --- ไฟล์จาก IDE (VS Code / Visual Studio) ---
.vscode/
.user
*.suo
*.userosscache
*.sln.docstates

# --- Docker ---
.dockerignore